.button {
    -fx-background-color: #FFFFFF;
}

.button:hover {
    -fx-border-color: #ff5c61;
    -fx-border-radius: 0;
    -fx-border-width: 3 0 0 0;
}

.button:pressed {
    -fx-border-color: #ff5c61;
    -fx-scale-y: 0.95;
    -fx-scale-x: 0.95;
    -fx-border-radius: 4;
}
